<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyByIhKBAz8UXCyBpdYaArvRKXTX_6dXP9A</string>
	<key>GCM_SENDER_ID</key>
	<string>969973538198</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.roadhaven</string>
	<key>PROJECT_ID</key>
	<string>roadhaven-eed3e</string>
	<key>STORAGE_BUCKET</key>
	<string>roadhaven-eed3e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:969973538198:ios:68819e311e40b63de7d1b7</string>
</dict>
</plist>